fastapi==0.128.0
uvicorn==0.40.0
sqlalchemy==2.0.45
pydantic==2.12.5
pillow==12.1.1
reportlab==4.4.10
python-multipart==0.0.21
anyio==4.12.0
h11==0.16.0
starlette==0.50.0
pydantic_core==2.41.5
annotated-types==0.7.0
click==8.3.1
colorama==0.4.6
charset-normalizer==3.4.6
idna==3.11
typing_extensions==4.15.0
typing-inspection==0.4.2
greenlet==3.3.0
boto3==1.35.0
